In [9]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')

In [10]:
import numpy as np
import pandas as pd
import datetime as dt

In [11]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [12]:
engine = create_engine("sqlite:///../Resources/energy.sqlite")

In [13]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(autoload_with=engine)

In [14]:
# View all of the classes that automap found
Base.classes.keys()

['geography',
 'hydrochange',
 'hydrogeneration',
 'solarchange',
 'solargeneration',
 'totalconsumption',
 'windchange',
 'windgeneration']

In [15]:
# Save references to each table
geography = Base.classes.geography
hydrochange = Base.classes.hydrochange
hydrogeneration = Base.classes.hydrogeneration
solarchange = Base.classes.solarchange
solargeneration = Base.classes.solargeneration
windchange = Base.classes.windchange
totalconsumption = Base.classes.totalconsumption
windgeneration = Base.classes.windgeneration

In [16]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [18]:
# Inspect the tables to get the column names
inspector = sqlalchemy.inspect(engine)
columns = inspector.get_columns('geography')
print("Geography Columns")
for column in columns:
    print('-',column["name"],'-',column["type"])
print("\nhydrochange Columns")
columns = inspector.get_columns('hydrochange')
for column in columns:
    print('-',column["name"],'-', column["type"])
print("\nhydrogeneration Columns")
columns = inspector.get_columns('hydrogeneration')
for column in columns:
    print('-',column["name"],'-', column["type"])
print("\nsolarchange columns")
columns = inspector.get_columns('solarchange')
for column in columns:
    print('-',column["name"],'-', column["type"])
print("\nsolargeneration Columns")
columns = inspector.get_columns('solargeneration')
for column in columns:
    print('-',column["name"],'-', column["type"])
print("\n windchange Columns")
columns = inspector.get_columns('windchange')
for column in columns:
    print('-',column["name"],'-', column["type"])
print("\nTotal Consumption Columns")
columns = inspector.get_columns('totalconsumption')
for column in columns:
    print('-',column["name"],'-', column["type"])
print("\nWind Generation Columns")
columns = inspector.get_columns('windgeneration')
for column in columns:
    print('-',column["name"],'-', column["type"])

Geography Columns
- id - INTEGER
- name - VARCHAR(128)
- alpha2 - VARCHAR(2)
- alpha3 - VARCHAR(3)
- region - VARCHAR(128)
- subregion - VARCHAR(128)
- region_code - INTEGER
- subregion_code - INTEGER

hydrochange Columns
- id - INTEGER
- country_code - VARCHAR(3)
- year - DATE
- quantity - FLOAT

hydrogeneration Columns
- id - INTEGER
- country_code - VARCHAR(3)
- year - DATE
- quantity - FLOAT

solarchange columns
- id - INTEGER
- country_code - VARCHAR(3)
- year - DATE
- quantity - FLOAT

solargeneration Columns
- id - INTEGER
- country_code - VARCHAR(3)
- year - DATE
- quantity - FLOAT

 windchange Columns
- id - INTEGER
- country_code - VARCHAR(3)
- year - DATE
- quantity - FLOAT

Total Consumption Columns
- id - INTEGER
- country_code - VARCHAR(3)
- year - DATE
- quantity - FLOAT

Wind Generation Columns
- id - INTEGER
- country_code - VARCHAR(3)
- year - DATE
- quantity - FLOAT

In [32]:
data1 = session.query(geography.id, geography.name, geography.alpha2, geography.alpha3, geography.region, geography.subregion, geography.region_code, geography.subregion_code)
data2 = session.query(hydrochange.id, hydrochange.country_code, hydrochange.quantity)
data3 = session.query(hydrogeneration.id,hydrogeneration.country_code, hydrogeneration.quantity)
data4 = session.query(solarchange.id,solarchange.country_code, solarchange.quantity)
data5 = session.query(solargeneration.id,solargeneration.country_code,  solargeneration.quantity)
data6 = session.query(windchange.id,windchange.country_code,  windchange.quantity)
data7 = session.query(windgeneration.id,windgeneration.country_code,  windgeneration.quantity)
data8 = session.query(totalconsumption.id,totalconsumption.country_code,  totalconsumption.quantity)

In [33]:
df1 = pd.DataFrame(data1, columns =['id', 'name', 'alpha2', 'alpha3', 'region','subregion', 'region_code', 'subregion_code'])
df1.head(1)

,id,name,alpha2,alpha3,region,subregion,region_code,subregion_code
0,1,Afghanistan,AF,AFG,Asia,Southern Asia,142,34

In [34]:

df2 = pd.DataFrame(data2, columns =['id', 'country_code', 'quantity'])
df2.head(1)

   id country_code  quantity
0   1          DZA -0.133065

In [35]:
df3 = pd.DataFrame(data3, columns =['id', 'country_code', 'quantity'])
df3.head(1)

   id country_code  quantity
0   1          DZA       0.4

In [36]:

df4 = pd.DataFrame(data4, columns =['id', 'country_code', 'quantity'])
df4.head(1)

   id country_code  quantity
0   1          DZA       0.0

In [37]:
df5 = pd.DataFrame(data5, columns =['id', 'country_code', 'quantity'])
df5.head(1)

   id country_code  quantity
0   1          DZA       0.0

In [38]:
df6 = pd.DataFrame(data6, columns =['id', 'country_code', 'quantity'])
df6.head(1)

   id country_code  quantity
0   1          DZA       0.0

In [39]:
df7 = pd.DataFrame(data7, columns =['id', 'country_code', 'quantity'])
df7.head(1)

   id country_code  quantity
0   1          AFG       0.0

In [41]:
df8 = pd.DataFrame(data8, columns =['id', 'country_code', 'quantity'])
df8.tail(1)

        id country_code   quantity
4298  4299     OWID_WRL  165319.69

In [ ]:
pd.plot(bar)